.flash-box
.wrapper
  = render 'shared/side_bar'
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group{}
          sample
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member YURI
      = link_to "" do
        .main-header__edit-btn Edit
    .messages
      .message
        .message__upper-info 
          %p.message__upper-info__talker YURI
          %p.message__upper-info__date 2019/08/18(sun) 19:08:28
        %p.message__text こんにちは！
      .message
        .message__upper-info 
          %p.message__upper-info__talker YURI
          %p.message__upper-info__date 2019/08/19(mon) 19:08:28
        %p.message__text こんにちは！
    .form
      %form#new_message.new_message{"accept-charset": "UTF-8",action: "/groups/3454/messages",enctype: "multipart/form-data",method: "post"}
        %input{name: "utf8", type: "hidden", value: "✓"}/
        %input{name: "authenticity_token",type: "hidden",value: "Re2Jq1uZ5zTvruwr2KOTbp26fIXQK31XxDCQQ6QSZzamV3YqmkwlPqs3h1Ozdn5ETM66ziSDUTgr3tTBXA7koQ=="}/
        .input-box
          %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
          %label.input-box__image{for: "message_image"}
            %i.fa.fa-image
            %input#message_image.input-box__image__file{name: "message[image]", type: "file"}/
        %input.submit-btn{"data-disable-with": "Send",name: "commit",type: "submit", value: "Send"}/
